
.box{ background-color: white;
    border: 2px black solid; margin: 10px; padding-left: 10px; padding-right:  10px;
}
.body{ background-color: grey;

}
.header {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.title {
    font-size: 24px;
}

.menu {
    text-align: right;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.moving_square {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: moveSquare 25s linear infinite;
}

@keyframes moveSquare {
    0%, 100% {
        bottom: 0;
        background-color: red;
    }
    20% {
        bottom: 300px;
        background-color: green;
    }
    40% {
        right: 300px;
        background-color: blue;
    }
    60% {
        top: 300px;
        background-color: yellow;
    }
    80% {
        right: 0;
        background-color: red;
    }
}
